#container111 {
    border: 10px;
    width: 200px;
    height: 200px;
    background: pink;
    background-clip: padding-box;
    /**阻止border包含在背景里面的影响**/
}

/**
border和outline很类似，但有如下区别：
1. 轮廓不占据空间，绘制于元素内容周围
2. 根据规范，轮廓通常是矩形，但也可以是非矩形的
**/
#container2 {
    width: 100px;
    height: 100px;
    margin: 15px;
    background: yellowgreen;
    border-radius: 5px;
    box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink, 0 2px 5px 15px rgba(0, 0, 0, 0.6);
}

/**
background-position与background-origin的区别
box-shadow和outline的结合使用
**/
#container3 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #d9c2bc;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #655;
    outline: 10px solid #655;
  }

  #container4 {
    width: 130px;
    height: 78px;
    background: linear-gradient(
      #000 0,
      #000 33.3%,
      #cc2a1d 33.3%,
      #cc2a1d 66.6%,
      #f8cf47 66.6%,
      #f8cf47 100%
    );
    background-size: 100% 100%;
  }
  #container5 {
    width: 130px;
    height: 78px;
    background: linear-gradient(
      to right,
      #002590 0,
      #002590 33.3%,
      #ffffff 33.3%,
      #ffffff 66.6%,
      #db3c3f 66.6%,
      #db3c3f 100%
    );
    background-size: 100% 100%;
  }

  #container6 {
    background: #fff;
    width: 200px;
    position: relative;
  }
  #container6::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    /* 这里的语法在CSS4中可能会被简化 */
    background: repeating-linear-gradient(
      -45deg,
      #ff6c6c 0,
      #ff6c6c 20%,
      transparent 0,
      transparent 25%,
      #1989fa 0,
      #1989fa 45%,
      transparent 0,
      transparent 50%
    );
    background-size: 80px;
    content: "";
  }

  #container7 {
    text-align: center;
    line-height: 70px;
    box-sizing: padding-box;
    width: 200px;
    height: 70px;
    background: #fff;
    border: 5px solid transparent;
    border-image: 5
      repeating-linear-gradient(
        -45deg,
        #ff6c6c 0,
        #ff6c6c 10%,
        transparent 0,
        transparent 15%,
        #1989fa 0,
        #1989fa 25%,
        transparent 0,
        transparent 30%
      );
  }

  /**
  蚂蚁动画
  **/
  #container8{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      repeating-linear-gradient(
          -45deg,
          black 0,
          black 25%,
          transparent 0,
          transparent 50%
        )
        0% 0% / 0.6em 0.6em;
    animation: ants 10s linear infinite;
  }
  @keyframes ants {
    to {
      background-position: 100% 100%;
    }
  }

  #containerr{
      margin:200px;
      width:200px; 
      height:200px;
  }

  #container {        
        margin:200px;
        width:500px; 
        height:500px; 
    }
   #content {        
        cursor:not-allowed;       
    }
   #myBtn{
      position:relative; 
   }
   #myBtn::before{
        position:absolute;
        content:'';
        top:-10px;
        bottom: -10px;
        right:-10px;
        left:-10px;
   }

    ul{
        overflow: auto;
        width: 10em;
        height: 8em;
        padding: .3em .5em;
        border: 1px solid silver;
        background: radial-gradient(at top, rgba(0,0,0,.2),
        transparent 70%) no-repeat;
        background-size: 100% 15px;
    }

    .image-slider {
        position:relative;
        display: inline-block;
    }
    .image-slider > div {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 50%; /* 初始宽度 */
        overflow: hidden; /* 让它可以裁切图片 */
        resize: horizontal;
    }
    .image-slider > div::before {
        content: '';
        position: absolute;
        bottom: 0; right: 0;
        width: 12px; height: 12px;
        padding: 5px;
        background:
        linear-gradient(-45deg, white 50%, transparent 0);
        background-clip: content-box;
        cursor: ew-resize;
    }
    .image-slider img { display: block; }
    figure {
        width: min-content;
        margin: auto;
    }
    @keyframes bounce{
        60%,80%,to{
            transform:translateY(350px);
            /* animation-timing-function:ease-out; */
        }
        70%{
            transform:translateY(250px);
        }
        90%{
            transform:translateY(300px);
        }
    }
    input:not(:focus) + .callout{
        transform: scale(0);
    }
    .callout{
        transition:.5s transform;
        transform-origin:1.4em -.4em;
        display:inline-block;
        position:absolute;
        left:125px;
        top:50px;
        background:yellowgreen;
    }
    @keyframes blink-smooth{
        50%{
            color:transparent;
        }
    }
    .highlight{
        animation:1s blink-smooth 3 steps(1);
        background:yellowgreen;
    }
    @keyframes typing {
        from { width: 0 }
    }
    @keyframes caret {
        50% { border-color: transparent; }
    }
    h1 {
        width: 15ch; /* 文本的宽度 */
        overflow: hidden;
        white-space: nowrap;
        border-right: .05em solid;
        animation: typing 6s steps(15),
        caret 1s steps(1) infinite;
    }
    @keyframes panoramic {
        to { background-position: 100% 0; }
    }
     
    #scenery{
        background:url('./fj.jpg');
        background-size:auto 100%;
        width:200px;
        height:200px;        
        animation: panoramic 10s linear infinite alternate;
        animation-play-state: paused;
    }
    #scenery:hover, #scenery:focus {
        animation-play-state:running;
    }

    @keyframes spin{
        to{
            transform:rotate(1turn);
        }
    }

    .path{
        width:200px;
        height:200px;
        border-radius:100px;
        background:#ffce07;
        position:relative;
    }
    .path img{
        width:40px;
        height:40px;
        border-radius:20px;
        position:absolute;
        top:5px;
        left:50%;
        margin-left:-20px;        
        animation:spin 3s infinite linear;
        transform-origin:50% 100px;
    }

